@import "../utils/colors";

.process {
  position: relative;
  width: 1060px;
  height: 900px;
  margin: 0 auto;
}

.process__vertical {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  flex-direction: column;
  gap: 240px;

  transform: translate(-50%, 0);
}

.process__horizontal {
  position: absolute;
  top: 50%;
  left: 0;

  display: flex;
  gap: 400px;

  transform: translate(0, -50%);
}

.process__title {
  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;

  color: getColor("main");

  font-size: 45px;
  font-weight: 600;
  line-height: calc(45 / 45);

  transform: translate(-50%, -50%);

  z-index: 1;
}

.process__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 330px;
  height: 330px;

  border-radius: 50%;
  border: 20px solid getColor("white");

  box-shadow: 0px 0px 24px 0px rgba(0, 84, 103, 0.16);
}

.process__vertical .process__item {
  background-color: getColor("iceBlue");
}

.process__horizontal .process__item {
  background-color: getColor("creamMilk");
}

.process__container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;

  margin-top: 57px;
  margin-bottom: 20px;

  border-radius: 50%;

  &--orange {
    background-color: getColor("darkOrange");
  }

  &--green {
    background-color: getColor("green");
  }

  &--blue {
    background-color: getColor("button");
  }

  &--purple {
    background-color: getColor("purple");
  }
}

.process__pretitle {
  margin-bottom: 9px;

  font-size: 20px;
  font-weight: 600;
  line-height: calc(20 / 20);
}

.process__text {
  max-width: 243px;
  text-align: center;

  opacity: 0.6;

  line-height: calc(26 / 20);
}
